header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

#homepage-logo {
    & img {
        width: 300px;
        height: 100px;
    }
}

#navigation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
    &__searchbar {
        width: 100%;
        height: 70px;
        background-color: #E7E7E7;
        border-radius: 5px;
        border: #E7E7E7;
        padding-left: 20px;
    }
    &__button {
        position: absolute;
        height: 60px;
        background-color: #E7E7E7;
        right: 120px;
        margin-top: 5px;
        border: none;
        cursor: pointer;
    }
}

#secondary {
    display: flex;
    justify-content: left;
    margin: 20px 100px;
    & input {
        width: 170px;
        height: 70px;
        padding: 15px;
        border-radius: 5px;
        margin-right: 20px;
        &::placeholder {
            color: #ffffff;
            opacity: 1;
        }
    }
    &-blue {
        & input {
            background-color: #3282F7;
            border: #3282F7;
            color: #ffffff;
        }
        & button {
            background-color: #3282F7;
            border: #3282F7;
            margin-left: -50px;
            border: none;
            cursor: pointer;
        }
        &__menu {
            background-color: #3282F7;
            @include searchbar-menu;
        }
    }
    &-green {
        & input {
            background: #68D9A4;
            border: #68D9A4;
            color: #ffffff;
        }
        & button {
            background: #68D9A4;
            border: #68D9A4;
            margin-left: -50px;
            border: none;
            cursor: pointer;
        }
        &__menu {
            background-color: #68D9A4;
            @include searchbar-menu;
        }
    }
    &-red {
        & input {
            background: #ED6454;
            border: #ED6454;
            color: #ffffff;
        }
        & button {
            background: #ED6454;
            border: #ED6454;
            margin-left: -50px;
            border: none;
            cursor: pointer;
        }
        &__menu {
            background-color: #ED6454;
            @include searchbar-menu;
        }
    }
}

.item__menu {
    font-size: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & a {
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
}

#tag-container {
    display: flex;
}

.tag {
    display: flex;
    margin: 15px 15px 0 0;
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    max-width: 250px;
    &__blue {
        background-color: #3282F7;
    }
    &__green {
        background-color: #68D9A4;
    }
    &__red {
        background-color: #ED6454;
    }
    &__close {
        margin-left: 10px;
        cursor: pointer;
    }
}