header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 40px; }

#homepage-logo img {
  width: 300px;
  height: 100px; }

#navigation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%; }

#main {
  display: flex;
  flex-direction: column;
  margin: 20px 100px; }
  #main__searchbar {
    width: 100%;
    height: 70px;
    background-color: #E7E7E7;
    border-radius: 5px;
    border: #E7E7E7;
    padding-left: 20px; }
  #main__button {
    position: absolute;
    height: 60px;
    background-color: #E7E7E7;
    right: 120px;
    margin-top: 5px;
    border: none;
    cursor: pointer; }

#secondary {
  display: flex;
  justify-content: left;
  margin: 20px 100px; }
  #secondary input {
    width: 170px;
    height: 70px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px; }
    #secondary input::-moz-placeholder {
      color: #ffffff;
      opacity: 1; }
    #secondary input:-ms-input-placeholder {
      color: #ffffff;
      opacity: 1; }
    #secondary input::placeholder {
      color: #ffffff;
      opacity: 1; }
  #secondary-blue input {
    background-color: #3282F7;
    border: #3282F7;
    color: #ffffff; }
  #secondary-blue button {
    position: relative;
    right: 50px;
    background-color: #3282F7;
    border: #3282F7;
    border: none;
    cursor: pointer; }
  #secondary-blue__menu {
    background-color: #3282F7;
    list-style: none;
    color: #ffffff;
    width: 670px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;
    padding: 0 0 15px 15px;
    z-index: 10;
    position: absolute; }
  #secondary-green input {
    background: #68D9A4;
    border: #68D9A4;
    color: #ffffff; }
  #secondary-green button {
    position: relative;
    right: 50px;
    background: #68D9A4;
    border: #68D9A4;
    border: none;
    cursor: pointer; }
  #secondary-green__menu {
    background-color: #68D9A4;
    list-style: none;
    color: #ffffff;
    width: 670px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;
    padding: 0 0 15px 15px;
    z-index: 10;
    position: absolute; }
  #secondary-red input {
    background: #ED6454;
    border: #ED6454;
    color: #ffffff; }
  #secondary-red button {
    position: relative;
    right: 50px;
    background: #ED6454;
    border: #ED6454;
    border: none;
    cursor: pointer; }
  #secondary-red__menu {
    background-color: #ED6454;
    list-style: none;
    color: #ffffff;
    width: 670px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;
    padding: 0 0 15px 15px;
    z-index: 10;
    position: absolute; }

.item__menu {
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .item__menu a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer; }

#tag-container {
  display: flex; }

.tag {
  display: flex;
  margin: 15px 15px 0 0;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  max-width: 250px; }
  .tag__blue {
    background-color: #3282F7; }
  .tag__green {
    background-color: #68D9A4; }
  .tag__red {
    background-color: #ED6454; }
  .tag__close {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

#recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px 100px; }

.recipes-card__item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e7e7e7;
  height: 400px; }

.recipes-card__picture {
  height: 180px;
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.recipes-card__header {
  display: flex;
  justify-content: space-between;
  margin: 20px; }

.recipes-card__title {
  font-size: 1em;
  max-width: 250px; }

.recipes-card__duration {
  display: flex; }
  .recipes-card__duration--icon {
    margin-right: 5px;
    height: 20px; }

.recipes-card__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  padding-right: 5px; }

.recipes-card__ingredients {
  font-size: 0.8em;
  list-style: none; }
  .recipes-card__ingredients--item {
    margin-bottom: 5px; }

.recipes-card__description {
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 9.6em;
  text-align: justify;
  text-overflow: ellipsis; }

#no-result {
  display: none;
  justify-content: center;
  margin-top: 80px;
  font-size: 2em; }

